body{
    padding: 0;
    margin: 0;
}
.countCard {
    text-align: center;
    padding: 20px 5px;
    border-radius: 4px;
    border: 0;
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    color: #333;
    background: #fff;
    box-shadow: 0 4px 8px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}
.confirm {
    color: #7f5fce;
    border-bottom: 7px solid #7f5fce;
}
.recoverd{
    color: green;
    border-bottom: 7px solid green;
}
.totaldeath{
    color: red;
    border-bottom: 7px solid red;
}
.totaltest{
    color: #5eb9b1;
    border-bottom: 7px solid #5eb9b1;
}
.new{
    color :#7f5fce;
    border-bottom: 7px solid #7f5fce;
}
.newrecoverd{
    color :green;
    border-bottom: 7px solid green;
}
.newnewdeath{
    color: red;
    border-bottom: 7px solid red;
}
.newtest{
    color: #5eb9b1;
    border-bottom: 7px solid #5eb9b1;
}
#preloader{
    position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1001;
}
#preloader ul {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* #preloader{
    position: fixed; left: 0; top: 0; z-index:99999; width: 100%; height: 100%; overflow: visible; background:#fff url('../img/Material-Loading-Animation.gif') no-repeat center center;background-size:60px 60px;
} */